<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.alshelper">

    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.SEND_SMS" />

    <application
        android:name=".AppBase"
        android:allowBackup="true"
        android:icon="@mipmap/accessibility_icon_1_round"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppThemeBlue">
        <activity android:name=".processingData.TestResults"></activity>
        <activity android:name=".HelpingActivity" />
        <activity android:name=".About" />
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings" />
        <activity android:name=".processingData.EditCode" />
        <activity android:name=".processingData.Form" />
        <activity android:name=".sensors.AnalogSensorActivity" />
        <activity android:name=".sensors.OnOffSensorActivity" />
        <activity android:name=".sensors.SensorMenu" />
        <activity
            android:name=".sensors.JoystickSensor"
            android:theme="@style/AppTheme.noActionBar" />
        <activity android:name=".bluetoothUtils.Terminal" />
        <activity android:name=".bluetoothUtils.PairedDevicesList" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.alshelper.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>
    </application>

</manifest>